@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-jp {
    font-family: "M PLUS Rounded 1c", sans-serif;
}
.font-logo{
    font-family: "Audiowide", monospace;
}
.font-mincho{
    font-family: 'Shippori Mincho', serif;
}